<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/organizerApp/static/index.css">
</head>
<body>
    <h1>Hola</h1>
    <a href="register.html">Registrarse</a>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, cupiditate?</p>
    <img src="https://images.unsplash.com/photo-1651052003819-ec2abaa445f7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80" alt="Imagen">

    <script>
        //Async
        fetch("/users") //inicio del proceso
        .then(function(res){
            return res.json()
        }) //resultado exitoso
        .then(function(data){
            console.log(data)
        })
        .catch(function(error){
            console.log(error)
        }) //resultado fallido

        // Gestión de promesas con Async/await
        async function request(){
            try{
                const resultado = await fetch("/users")
                const data = await resultado.json()
                return data
            }catch(error){
                console.log(error)
            }
        }
        request()
    </script>
    
</body>
</html>